<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692960316042-m5ilhjcs4r5e8es4kcrptsjjmt66aebp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692960316042-m5ilhjcs4r5e8es4kcrptsjjmt66aebp</string>
	<key>API_KEY</key>
	<string>AIzaSyAYLBm_GeHKxRyqk-5J008oVluJCYuz-H8</string>
	<key>GCM_SENDER_ID</key>
	<string>692960316042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.escort</string>
	<key>PROJECT_ID</key>
	<string>escort-8572e</string>
	<key>STORAGE_BUCKET</key>
	<string>escort-8572e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692960316042:ios:6f667c340de5efda003b73</string>
</dict>
</plist>